h1 {
    color: #094067;
    text-align: center;
}

.searchbar {
    text-align: center;
    margin: 2rem;
}

input[type="text"] {
    background-color: #fffffe;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    padding: .5rem;
    width: 40%;
}

input[type="text"]:focus {
    border: 2px solid #094067;
    border-radius: 4px;
    outline: none;
    color: #094067;
}

.searchbar button {
    margin-left: .5rem;
    padding: .5rem;
    width: 70px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #fffffe;
    color: #094067;
}

#search-btn {
    background-color: #094067;
    color: #fffffe;
    font-weight: 700;
}