.news-feed {
    min-height: 100vh;
}

/* Title */
h1 {
    color: #094067;
    text-align: center;
    margin-top: 1rem;
}

/* Search Bar */
.searchbar {
    text-align: center;
    margin: 2rem;
}

input[type="text"] {
    background-color: #fffffe;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    padding: .5rem;
    width: 40%;
}

input[type="text"]:focus {
    border: 2px solid #094067;
    border-radius: 4px;
    outline: none;
    color: #094067;
}

.searchbar button {
    margin-left: .5rem;
    padding: .5rem;
    width: 70px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #fffffe;
    color: #094067;
}

#search-btn {
    background-color: #094067;
    color: #fffffe;
    font-weight: 700;
}

/* Article */
.news-feed ul {
    margin: 2rem 5rem;
    list-style: none;
}

.news-feed li {
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 2rem;
    width: 70%;
    border: 2px solid #fffffe;
    border-radius: 4px;
    background-color: #fffffe;
}

.news-feed h3 {
    color: #094067;
    padding-bottom: .5rem;
}

.news-feed p {
    color: #5f6c7b;
    padding-bottom: 1rem;
}

.news-feed a {
    text-decoration: none;
    color: #094067;
}

.news-feed a:hover {
    text-decoration: underline;
}

#favorite {
    float: right;
    padding: .3rem;
    width: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid #ef4565;
    border-radius: 4px;
    background-color: #fffffe;
    color: #ef4565;
}

#favorite:hover {
    background-color: #ef4565;
    color: #fffffe;
    transition: .5s;
}